body{
    //background-image: url("./loginform.jpg");
      //background: linear-gradient(white,#9795e3);
}
#homepage{
  max-width: 100%;
  height: auto;
  width: auto;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  border: solid #9785E3 2px;
  margin: 7vh ;
  border-radius: 20px;

  //background-color: blue;
  box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.75);


}
#top{
    max-width: 100%;
    height: auto;
    width: auto;
    min-height:7vw;
    //background-color: rgb(255, 135, 0);
    //background-image: url("./parking2.jpg");
  //  background-size: auto;
    //color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left  ;
    height: 25vh;
    border-bottom: solid #9785E3;

}
#searchbox{

  justify-content: flex-end;
  max-width: 100%;
  height: auto;
}
#searchboximagebox{
  display: inline-flex;
  align-items: center;
  //background-color: red;
  justify-content: flex-start;
}
#car{
  max-width: 100%;
  min-width: 50%;
  min-height: 10%;
  height: auto;
  width: auto;
  //background-color: pink;
}
#searchsection{
  max-width: 100%;
  height: auto;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    padding: 5vh;
    align-content: center;
}
#searchbind{
    display:flex;
    margin-top: 5vh;
    max-width: 100%;
    height: auto;
    //background-color: brown;
}
.parking_search{
    height: 8vh;
    width: 40vw;
    font-size: 1vw;
    text-align: center;
}
.search_button{
    width: 5vw;
    font-size: 1vw;
}
.parkingoption{
    text-align: center;
}
option:hover{
    background-color: #9785E3;
}
#last{
    display: flex;
    text-align: center;
    //background: darkblue;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border-top: solid #9785E3;
    margin: 2.5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    padding-bottom: 10vh;

}
#middle{
    //background: darkred;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    margin: 2.5vh;
    font-size: 2vw;
    align-items: center;
    height: 50vh;

    border-radius:
}
#threecities{
  justify-content: flex-end;
}
#threecitiesimage{
  display: inline-flex;
  margin: 10vh;
  height: 30vh;
  width: 50vh;
}
#city{
  max-width: 100%;
  height: auto;
}
